{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center ms-1 p-2">
    <h2><i class="fas fa-box me-2"></i> Orders List</h2>
    <a href="{% url 'order_create' %}" class="btn btn-primary">Create New Order</a>
</div>

<!-- Search Form -->
<form method="get" class="mb-4">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search..." value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-outline-success" style="height: 100%;"><i class="fas fa-search"></i></button>
    </div>
</form>


<!-- Filter Section with Toggle Button -->
<div class="mb-4">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="collapse" data-bs-target="#filterCollapse"
        aria-expanded="false" aria-controls="filterCollapse">
        Show Filters
    </button>
    <div class="collapse mt-3" id="filterCollapse">
        <form method="get" class="filter-form p-3">
            <div class="mb-3">
                {{ filter.form.reference.label_tag }}
                {{ filter.form.reference }}
            </div>
            <div class="mb-3">
                {{ filter.form.status.label_tag }}
                {{ filter.form.status }}
            </div>
            <div class="mb-3">
                {{ filter.form.supermarket.label_tag }}
                {{ filter.form.supermarket }}
            </div>
            <div class="mb-3">
                {{ filter.form.created_at.label_tag }}
                {{ filter.form.created_at }}
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success">Filter</button>
                <a href="{% url 'order_list' %}" class="btn btn-success">Hide Filter</a>
            </div>
        </form>
    </div>
</div>


<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Supermarket</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr  class="
        {% if order.status == 'Pending' %}status-pending
        {% elif order.status == 'Confirmed' %}status-confirmed
        {% elif order.status == 'Shipped' %}status-shipped
        {% elif order.status == 'Delivered' %}status-delivered
        {% endif %} ">          
            <td >{{ order.reference }}</td>
            <td>{{ order.supermarket.name }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.created_at }}</td>
            <td>
                <a href="{% url 'order_detail' order.pk %}" class="btn btn-primary btn-sm">View</a>

                {% if request.user.is_manager %}
                <a href="{% url 'order_update' order.pk %}" class="btn btn-primary btn-sm">Edit</a>
                {% endif %}

                {% if request.user.is_employee%}
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterButton = document.querySelector('[data-bs-target="#filterCollapse"]');
        const collapseElement = document.getElementById('filterCollapse');
        filterButton.addEventListener('click', function () {
            collapseElement.classList.toggle('show'); 
            filterButton.style.display = 'none';
        });
    });
</script>

{% endblock %}