{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-2 border py-2">
    <h1 style="color:#003018;">Dashboard</h1>

    <p>Welcome to the dashboard</p>
    <div class="row my-1">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Products</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{products|length}}</p>
                        <a href="{% url 'products-list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title
                    ">Total Suppliers</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{factories|length}}</p>
                        <a href="{% url 'factory_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title
                    ">Total Shipment Orders</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{shipments|length}}</p>
                        <a href="{% url 'shipment_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title
                    ">Total Sales Orders</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{orders|length}}</p>
                        <a href="{% url 'order_list' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title
                        ">Total Customers</h5>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">{{supermarkets|length}}</p>
                            <a href="{% url 'supermarket_list' %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title
                        ">Total Employees</h5>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">{{users|length}}</p>
                            <a href="{% url 'approve_users' %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row my-2">
                <div class="col-lg-6">
                    <canvas  id="productChart" ></canvas>
                    {{ products_count|json_script:"products-data" }}
                </div>
                <div class="col-lg-6">
                    <canvas  id="factoryChart" ></canvas>
                    {{ factory_shipment|json_script:"factory-data" }}
                </div>
            </div> 
                <div class="col-lg-6">
                    <canvas  id="supermarketChart" ></canvas>
                    {{ supermarket_order|json_script:"supermarket-data" }}
                </div>
    
    <script src="{% static 'js/productsChart.js' %}"></script>
    <script src="{% static 'js/factoriesChart.js' %}"></script>
    <script src="{% static 'js/supermarketChart.js' %}"></script>
{% endblock %}