{% extends 'base.html' %}

{% block title %}Add User Page{% endblock %}

{% block content %}
<div class=" d-flex justify-content-center  min-vh-75 mt-5">
    <div class="col-md-6 bg-white p-4 rounded shadow">
        <h3 class="text-center mb-4">Add New User | Manager</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label><i class="fas fa-user me-2"></i>Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label><i class="fas fa-envelope me-2"></i>Email</label>
                {{ form.email }}
            </div>
            <div class="mb-3 position-relative">
                <label><i class="fas fa-user-tag me-2"></i> Role</label>
                <div class="input-group">
                    {{ form.role }}
                </div>
            </div>
            <div class="mb-3">
                <label><i class="fas fa-lock me-2"></i>Password</label>
                {{ form.password }}
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit"  class="btn btn-dark" style="background-color:#003018;">Add User</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}