<div class="sidebar" id="sidebar">
    <button class="toggle-btn mb-2" onclick="toggleSidebar()">
        <i class="fas fa-bars text-dark"></i>
    </button>
    <a href="#"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
    <a href="#"><i class="fas fa-box"></i> <span>Inventory</span></a>
    <a href="#"><i class="fas fa-truck"></i> <span>Suppliers</span></a>
    <a href="{% url 'order_list' %}"><i class="fas fa-shopping-cart"></i> <span>Sales Orders</span></a>
    <a href="#"><i class="fas fa-file-invoice"></i> <span>Purchase Orders</span></a>
</div>