{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm bshipment rounded p-4">
            <h2 class="mb-3 text-center">Shipment: {{ shipment.reference }}</h2>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Reference:</strong> {{ shipment.reference }}</p>
                    <p><strong>shipment Date:</strong> {{ shipment.shipment_date }}</p>
                    <p><strong>Delivery Date:</strong> {{ shipment.delivery_date }}</p>
                    <p><strong>Factory:</strong> {{ shipment.factory }}</p>
                    <p><strong>Status:</strong> <span class="badge bg-info text-dark">{{ shipment.status }}</span></p>
        
                </div>
                <div class="col-md-6">
                    {%if shipment.status == "Pending"%}
                    <a href="{% url 'cancle_shipment' shipment.pk %}" class="btn btn-danger btn-sm">cancel</a>
                    <a href="{% url 'confirm_shipment' shipment.pk %}" class="btn btn-success btn-sm">Confirm</a>
                    {% elif shipment.status == "Confirmed"%}
                    <a href="{% url 'delivered_shipment' shipment.pk %}" class="btn btn-primary btn-sm">Delivered</a>
                     {% endif %}
                </div>
            </div>
         
            <h4 class="mt-4">Shipment Items:</h4>
            <ul class="list-group mb-3">
                {% for item in shipment.line_items.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item.product.name }}
                        <span class="badge bg-secondary">{{ item.quantity }}</span>
                    </li>
                {% empty %}
                    <li class="list-group-item text-muted">No items added yet.</li>
                {% endfor %}
            </ul>
            
            {% if user.is_manager and shipment.status == "Pending" %}
                <div class="d-flex justify-content-center gap-2">
                    <a href="{% url 'edit_shipment' shipment.id %}" class="btn btn-warning">Edit</a>
                    <!-- <form action="{% url 'cancle_shipment' shipment.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this shipment?');">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm delete-shipment" data-id="{{ shipment.id }}">Delete</button>
                    </form> -->
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

